# NOTE: Requires **VS2019 16.3** or later

# Правила для DemoCheatScanner2
# Description: Правила анализа кода для DemoCheatScanner2.csproj.

# Code files
[*.{cs,vb}]


dotnet_diagnostic.CA1003.severity = warning

dotnet_diagnostic.CA1008.severity = warning

dotnet_diagnostic.CA1009.severity = warning

dotnet_diagnostic.CA1012.severity = warning

dotnet_diagnostic.CA1014.severity = warning

dotnet_diagnostic.CA1017.severity = warning

dotnet_diagnostic.CA1019.severity = warning

dotnet_diagnostic.CA1021.severity = warning

dotnet_diagnostic.CA1024.severity = warning

dotnet_diagnostic.CA1027.severity = warning

dotnet_diagnostic.CA1033.severity = warning

dotnet_diagnostic.CA1049.severity = warning

dotnet_diagnostic.CA1050.severity = warning

dotnet_diagnostic.CA1060.severity = warning

dotnet_diagnostic.CA1301.severity = warning

dotnet_diagnostic.CA1303.severity = none

dotnet_diagnostic.CA1304.severity = none

dotnet_diagnostic.CA1305.severity = none

dotnet_diagnostic.CA1307.severity = none

dotnet_diagnostic.CA1308.severity = none

dotnet_diagnostic.CA1400.severity = warning

dotnet_diagnostic.CA1401.severity = none

dotnet_diagnostic.CA1403.severity = warning

dotnet_diagnostic.CA1404.severity = warning

dotnet_diagnostic.CA1405.severity = warning

dotnet_diagnostic.CA1410.severity = warning

dotnet_diagnostic.CA1415.severity = warning

dotnet_diagnostic.CA1501.severity = warning

dotnet_diagnostic.CA1502.severity = warning

dotnet_diagnostic.CA1505.severity = warning

dotnet_diagnostic.CA1506.severity = warning

dotnet_diagnostic.CA1508.severity = warning

dotnet_diagnostic.CA1509.severity = warning

dotnet_diagnostic.CA1708.severity = warning

dotnet_diagnostic.CA1711.severity = warning

dotnet_diagnostic.CA1725.severity = warning

dotnet_diagnostic.CA1810.severity = none

dotnet_diagnostic.CA1816.severity = none

dotnet_diagnostic.CA1820.severity = none

dotnet_diagnostic.CA1824.severity = none

dotnet_diagnostic.CA1825.severity = none

dotnet_diagnostic.CA1826.severity = none

dotnet_diagnostic.CA1827.severity = none

dotnet_diagnostic.CA1828.severity = none

dotnet_diagnostic.CA1829.severity = none

dotnet_diagnostic.CA1900.severity = warning

dotnet_diagnostic.CA1901.severity = warning

dotnet_diagnostic.CA2000.severity = none

dotnet_diagnostic.CA2002.severity = none

dotnet_diagnostic.CA2008.severity = none

dotnet_diagnostic.CA2009.severity = none

dotnet_diagnostic.CA2010.severity = none

dotnet_diagnostic.CA2012.severity = none

dotnet_diagnostic.CA2013.severity = none

dotnet_diagnostic.CA2100.severity = none

dotnet_diagnostic.CA2101.severity = none

dotnet_diagnostic.CA2108.severity = warning

dotnet_diagnostic.CA2111.severity = warning

dotnet_diagnostic.CA2112.severity = warning

dotnet_diagnostic.CA2114.severity = warning

dotnet_diagnostic.CA2116.severity = warning

dotnet_diagnostic.CA2117.severity = warning

dotnet_diagnostic.CA2122.severity = warning

dotnet_diagnostic.CA2123.severity = warning

dotnet_diagnostic.CA2124.severity = warning

dotnet_diagnostic.CA2126.severity = warning

dotnet_diagnostic.CA2131.severity = warning

dotnet_diagnostic.CA2132.severity = warning

dotnet_diagnostic.CA2133.severity = warning

dotnet_diagnostic.CA2134.severity = warning

dotnet_diagnostic.CA2137.severity = warning

dotnet_diagnostic.CA2138.severity = warning

dotnet_diagnostic.CA2140.severity = warning

dotnet_diagnostic.CA2141.severity = warning

dotnet_diagnostic.CA2146.severity = warning

dotnet_diagnostic.CA2147.severity = warning

dotnet_diagnostic.CA2149.severity = warning

dotnet_diagnostic.CA2202.severity = warning

dotnet_diagnostic.CA2207.severity = none

dotnet_diagnostic.CA2208.severity = none

dotnet_diagnostic.CA2212.severity = warning

dotnet_diagnostic.CA2213.severity = none

dotnet_diagnostic.CA2215.severity = none

dotnet_diagnostic.CA2216.severity = none

dotnet_diagnostic.CA2217.severity = warning

dotnet_diagnostic.CA2220.severity = warning

dotnet_diagnostic.CA2229.severity = none

dotnet_diagnostic.CA2232.severity = warning

dotnet_diagnostic.CA2235.severity = none

dotnet_diagnostic.CA2236.severity = warning

dotnet_diagnostic.CA2237.severity = none

dotnet_diagnostic.CA2238.severity = warning

dotnet_diagnostic.CA2240.severity = warning

dotnet_diagnostic.CA2241.severity = none

dotnet_diagnostic.CA2242.severity = none

dotnet_diagnostic.CA2243.severity = none

dotnet_diagnostic.CA3061.severity = none

dotnet_diagnostic.CA5350.severity = none

dotnet_diagnostic.CA5351.severity = none

dotnet_diagnostic.CA5359.severity = none

dotnet_diagnostic.CA5360.severity = none

dotnet_diagnostic.CA5363.severity = none

dotnet_diagnostic.CA5364.severity = none

dotnet_diagnostic.CA5365.severity = none

dotnet_diagnostic.CA5366.severity = none

dotnet_diagnostic.CA5368.severity = none

dotnet_diagnostic.CA5369.severity = none

dotnet_diagnostic.CA5370.severity = none

dotnet_diagnostic.CA5371.severity = none

dotnet_diagnostic.CA5372.severity = none

dotnet_diagnostic.CA5373.severity = none

dotnet_diagnostic.CA5374.severity = none

dotnet_diagnostic.CA5379.severity = none

dotnet_diagnostic.CA5384.severity = none

dotnet_diagnostic.CA5385.severity = none

dotnet_diagnostic.CA5397.severity = none

dotnet_diagnostic.IDE0067.severity = warning

dotnet_diagnostic.IDE0068.severity = warning

dotnet_diagnostic.IDE0069.severity = warning
